<& "/contenido/components/title.msn", title=>'Создание связей' &>
<table width="100%" cellspacing="5" cellpadding="0" border="0">
<tr><td style="font-size:110%;">
<div><b>Создание связей. Тип связи&nbsp; &mdash;
&nbsp; <% $class->class_name %> (<span style="color:olive;"><% $class %></span>)</b></div>
</td></tr>
</table>
</body>
</html>
<%args>
        $class          => ''
        $source_class   => ''
        $source_id      => ''
        $dest_class     => ''
        $dest_id        => ''
        $save           => 0
        $status         => 0
</%args>
